<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <%= image_tag(@product.image_url, class: "img-responsive product-img") %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 description">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p class="show-product-price">
        <strong>Price:</strong>
        <%= @product.price %> &euro;
      </p>
      <p>
        <%= @product.highest_rating_comment %>
      </p>
      <p>
        <%= @product.lowest_rating_comment %>
      </p>
      <div class="show-product-link">
        <%= link_to ' Back', products_path, class: 'glyphicon glyphicon-arrow-left btn btn-primary', role: 'button'%>
        <%= link_to ' Edit', edit_product_path(@product), class: 'glyphicon glyphicon-edit btn btn-primary', role: 'button' %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 comments">
      <h3>Reviews</h3>
    </div>
  </div>
</div>
