<div class="show">
  <div class="display-product">
    <p>
      <%= image_tag(@product.image_url, class: "img-responsive product-img") %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </p>
  </div>
  <div class="product-links">
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
</div>
